@using FinalProReRe.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}
@Styles.Render("~/Content/css")

<div id="heading">
    <a href="/home/employeeindex">Home</a> <a href="_targetblank">Contact Me</a> <a href="_targetblank">Portfolio</a>
</div>

@ViewBag.error;

@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form", style = "width: 50%; margin: auto; align-content: center;" }))
{
    @Html.AntiForgeryToken()

    <hr />
    <a data-tooltip title="my tooltip">Tooltip</a>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">

            @Html.TextBoxFor(m => m.Email, "", new { @class = "form-control", Value = "Admin@hiring.com" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control", value = "Adminpass123!" })
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <div class="checkbox">
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe)
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input id="buttonadd" type="submit" value="Log in" class="btn btn-default" />
        </div>
    </div>
    <p>
        @Html.ActionLink("Register as a new user", "Register")
    </p>
    @* Enable this once you have account confirmation enabled for password reset functionality
        <p>
            @Html.ActionLink("Forgot your password?", "ForgotPassword")
        </p>*@
}



<!--
 <section id="socialLoginForm">
         Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
 </section>
 -->


@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")
   

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
}
<script>
    
        console.log("start");
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });
   
</script>
