<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div style="background-color: #F1F0F0">
        <div class="navbar navbar-inverse navbar-fixed-top" style="background-color:#7D8B93">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand", @style = "color:#FAFAFA" })
                    @Html.ActionLink("Contact Me", "Index", "Home", new { area = "" }, new { @class = "navbar-brand", @style = "color:#FAFAFA" })
                </div>
                <div class="navbar-collapse collapse">

                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
        <!--<div class="container body-content">  </div>-->
        @RenderBody()
    </div>
</body>
    

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")

@RenderSection("scripts", required: false)

</html>
