@model FinalProRere.ViewModels.MultipleTicketsModel

@Styles.Render("~/Content/css")

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Issue Tracker</title>
</head>

<body>

    <div id="heading">
        <a href="/home/index">Home</a> <a href="_targetblank">Contact Me</a> <a href="_targetblank">Portfolio</a>
    </div>
    <table id="viewtickettable" class="table table-bordered table-hover" border="1">
        <thead>
            <tr>
                <th>TICKET TRACKING NUMBER: @Model.Ticket.Id</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    Ticket Resolved: @Model.Ticket.Resolved <form method="post" action="/Home/ViewTicket">
                        <select name="Resolved" onchange="this.form.submit()">
                            <option disabled selected> -- select an option -- </option>
                            <option value="true">Resolve</option>
                            <option value="false">Unresolve</option>
                        </select>
                        <input type="hidden" name="ticketId" value="@Model.Ticket.Id" />
                    </form>
                </td>
            </tr>
            <tr><td>Assigned To: @Model.Ticket.ApplicationUser.UserName</td></tr>
            <tr><td><b></b>Instructions:@Model.Ticket.Instructions</td></tr>
            <tr><td><button class="btn btn-danger">@Html.ActionLink("Delete Ticket", "DeleteTicket", new { ticketid = Model.Ticket.Id }, new { @style = "color:white;" }) </button></td></tr>
        </tbody>

    </table>


    <!--
        <table id="commenttable" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Comments</th>
                </tr>
            </thead>
            <tbody>
                @{ if (Model.Comments.Count > 0) { }
                    foreach (var comment in Model.Comments)
                    {
                        <tr>
                            <td>
                                @comment.ApplicationUser
                                @comment.textBox
                            </td>

                        </tr>
                    }


                }


            </tbody>
        </table>
        -->
    <!--<button id="viewticketid" class="btn btn-primary">Html.ActionLink("New Comment", "NewCommentView", new { id = Model.Ticket.Id }) </button>-->
</body>
</html>